.tile{
  width:70px;
  height:70px;
  margin: 1px;
  border: 1px solid transparent;
  background-color: #D8D8D8;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.black_tile{
  background-color: #a9d2af;
}
.board{
  display: block;
}
.row{
  display: flex;
  justify-content: center;
  /*border: 1px solid black;*/
}
.blackPiece{
  color:white;
}
.highlight-tile{
  border-color: rgba(255, 255, 0, 0.52);
  box-shadow: 1px 1px 15px rgba(255, 255, 0, 0.64);
  z-index: 1;
}
.selected {
  box-shadow: 1px 1px 15px #007FFF;
  z-index:
}
/*body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
*/